<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css" />

    <!-- swiper CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- swiper CDN -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="section1">
      <div class="title">
        <a href="/">편의점마켓</a>
      </div>
      <div class="part1">
        <ul>
          <li><a href="">로그인</a></li>
          <li><a href="">회원가입</a></li>
          <li><a href="">마이페이지</a></li>
        </ul>
      </div>
      <div class="part2">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Cu</a></li>
          <li><a href="">GS25</a></li>
          <li><a href="">세븐일레븐</a></li>
          <li><a href="">자유게시판</a></li>
        </ul>
      </div>
    </div>

    <div class="section2">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../static/image/img1.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../static/image/img2.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../static/image/img3.jpg" alt="" />
          </div>

          <div class="swiper-slide">
            <img src="../static/image/img4.jpg" alt="" />
          </div>

          <div class="swiper-paginiation"></div>

          <div class="nextbtn">
            <div class="next"></div>
          </div>
          <div class="prevbtn">
            <div class="prev"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="section3">
      <div class="part1">편의점별 상품</div>
      <div class="part2">
        <ul>
          <li>김밥</li>
          <li>샌드위치</li>
          <li>도시락</li>
          <li>샐러드</li>
        </ul>
      </div>
    </div>
    <div class="section4">
      <h1>CU</h1>
      <div class="swiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../static/image/section4 img1.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="section5">
      <h1>GS25</h1>
    </div>
    <div class="section6">
      <h1>SEVENELEVEN</h1>
    </div>

    <div class="section7"></div>
    <script src="../static/js/home.js"></script>
  </body>
</html>
