<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <h2>로그인</h2>
    <form id="login">
      <label for="userid">
        아이디: <input type="text" name="userid" id="userid" required /><br />
      </label>
      <label for="userpw">
        비밀번호: <input type="password" name="userpw" id="userpw" /><br />
      </label>
      <button type="button" onclick="login()">로그인</button>
    </form>
    <p>계정이 없나요? <a href="#">회원가입</a></p>
    <script>
      function login() {
        const form = document.forms["login"];
        axios({
          method: "post",
          url: "",
          data: {
            userid: form.userid.value,
            userpw: form.userpw.value,
          },
        });
      }
    </script>
  </body>
</html>
