<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPAGE</title>

    <!-- Normalize CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- fontawsome CDN -->
    <script
      src="https://kit.fontawesome.com/a2bddeb8f2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/mypage.css" />
    <script defer src="/static/js/mypage.js"></script>
  </head>
  <body>
    <!-- <header
      style="
        height: 120px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ff3636;
        width: 100%;
      "
    ></header> -->
    <div class="container">
      <div class="profile">
        <img
          id="profile-image"
          src="/static/image/default-profile.jpg"
          alt="사용자 프로필 이미지"
        />
      </div>
      <ul class="infoBox">
        <li><span>아이디</span> <span>yena1111</span></li>
        <li><span>닉네임</span> <span>이나</span></li>
      </ul>
      <h3 class="welcome"><span>이나</span>님, 오늘 당신의 픽은??😎</h3>
      <ul class="reviewsBox">
        <!-- <a href="li"> -->
        <li>
          <span class="tit">게시글</span>
          <span class="len"><span>5</span>개</span>
          <button
            class="fa-solid fa-chevron-right arrow"
            onclick="showList(this)"
          ></button>
        </li>
        <div class="content-container hide">
          <ul class="list">
            <li class="list-head">
              <span>순번</span>
              <span>제목</span>
              <span>작성자</span>
              <span>날짜</span>
            </li>
            <%for(let i=1;i<=5;i++){%>
            <a href="#">
              <li>
                <span><%= i %></span>
                <span>편의점 꿀맛 조합 아시는 분 추천좀여!!!</span>
                <span>편죽이이</span>
                <span>2024-12-18</span>
              </li>
            </a>
            <%}%>
          </ul>
          <div class="pagination">
            <span class="selected">1</span>
            <span>2</span>
            <span>3</span>
          </div>
        </div>

        <!-- </a> -->
        <!-- <a href="li"> -->
        <li>
          <span class="tit">상품 리뷰</span>
          <span class="len"><span>5</span>개</span>
          <button
            class="fa-solid fa-chevron-right arrow"
            onclick="showList(this)"
          ></button>
        </li>
        <div class="content-container hide">
          <ul class="list">
            <li class="list-head">
              <span>순번</span>
              <span>제목</span>
              <span>작성자</span>
              <span>날짜</span>
            </li>
            <%for(let i=1;i<=5;i++){%>
            <a href="#">
              <li>
                <span><%= i %></span>
                <span>편의점 꿀맛 조합 아시는 분 추천좀여!!!</span>
                <span>편죽이이</span>
                <span>2024-12-18</span>
              </li>
            </a>
            <%}%>
          </ul>
          <div class="pagination">
            <span class="selected">1</span>
            <span>2</span>
            <span>3</span>
          </div>
        </div>
        <li>
          <span class="tit">게시글 리뷰</span>
          <span class="len"><span>5</span>개</span>
          <button
            class="fa-solid fa-chevron-right arrow"
            onclick="showList(this)"
          ></button>
        </li>
        <div class="content-container hide">
          <ul class="list">
            <li class="list-head">
              <span>순번</span>
              <span>제목</span>
              <span>작성자</span>
              <span>날짜</span>
            </li>
            <%for(let i=1;i<=5;i++){%>
            <a href="#">
              <li>
                <span><%= i %></span>
                <span>편의점 꿀맛 조합 아시는 분 추천좀여!!!</span>
                <span>편죽이이</span>
                <span>2024-12-18</span>
              </li>
            </a>
            <%}%>
          </ul>
          <div class="pagination">
            <span class="selected">1</span>
            <span>2</span>
            <span>3</span>
          </div>
        </div>

        <li>
          <span class="tit">좋아요</span>
          <span class="len"><span>5</span>개</span>
          <button
            onclick="showList(this)"
            class="fa-solid fa-chevron-right arrow"
          ></button>
        </li>
        <div class="content-container hide">
          <ul class="list">
            <li class="list-head">
              <span>순번</span>
              <span>제목</span>
              <span>작성자</span>
              <span>날짜</span>
            </li>
            <%for(let i=1;i<=5;i++){%>
            <a href="#">
              <li>
                <span><%= i %></span>
                <span>편의점 꿀맛 조합 아시는 분 추천좀여!!!</span>
                <span>편죽이이</span>
                <span>2024-12-18</span>
              </li>
            </a>
            <%}%>
          </ul>
          <div class="pagination">
            <span class="selected">1</span>
            <span>2</span>
            <span>3</span>
          </div>
        </div>
      </ul>
      <div class="buttonBox">
        <button class="updateBtn">회원정보 수정</button>
        <button class="deleteBtn">회원 탈퇴</button>
      </div>
    </div>
  </body>
</html>
