<title><%= title %></title>

<!-- axios CDN -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- reset.css -->
<link
  href="https://cdn.jsdelivr.net/npm/resetcss@5.0.2/reset.min.css"
  rel="stylesheet"
/>
<!-- fontawsome CDN -->
<script
  src="https://kit.fontawesome.com/a2bddeb8f2.js"
  crossorigin="anonymous"
></script>
<!-- common css -->
<link rel="stylesheet" href="/static/css/common.css" />
