<title><%= title %></title>

<!-- axios CDN -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link
  href="https://cdn.jsdelivr.net/npm/resetcss@5.0.2/reset.min.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/n
ormalize.min.css"
/>
