.container {
  max-width: 1200px;
  /* border: 1px solid brown; */
  margin: 120px auto 0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid gray;
  color: rgb(36, 36, 36);
}

.container > .profile {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 999px;
  border: 1px solid salmon;
}

.container > .profile > img {
  border-radius: 999px;
  width: 100%;
  height: 100%;
}

.container > .profileFile {
  margin-top: 15px;
}

.container > .profileFile .btn1 {
  color: #d1d0d0;
}
.container > .profileFile .btn2 {
  background-color: #ff6b73;
  color: #fff;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
}
.container > .infoBox {
  font-size: 14px;
  color: #8a8a8a;
  width: 200px;
  margin: 0 auto;
  margin-top: 5px;
  padding-top: 5px;
}

.container > .infoBox > li:nth-of-type(1),
.container > .infoBox > li:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2px;
}

.container > .infoBox .nickName {
  width: 100px;
  border-radius: 8px;
  border: 1px solid gray;
}

.container > .infoBox .checkRedundanc {
  background-color: #ff6b73;
  color: #fff;
  border: 1px solid;
  border-radius: 8px;
  padding: 1px;
  font-weight: bold;
  font-size: 13px;
}

.container > .infoBox > li:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.container > .buttonBox {
  border: 1px solid;
  padding: 20px;
  margin-top: 30px;
}

.container > .buttonBox > .modifyBtn {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 999px;
  border: 1px solid salmon;
}
